
<div class="row">
    <div class="col-lg-6">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.adminName
                </h2>
                <small>Admin</small>
            </div>
            <img src="@ViewBag.adminImage" class="rounded-circle circle-border m-b-md" width="200" height="200" alt="profile">
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.adminName</h4>
            <p>@ViewBag.adminDescp</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget lazur-bg p-xl">
            <h2>
                @ViewBag.adminName
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>E-posta:</label>
                    @ViewBag.mail
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>İletişim:</label>
                    @ViewBag.phonenumber
                </li>
            </ul>

        </div>
    </div>
</div>

@section scripts{

}