
@{
    ViewData["Title"] = "MailDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail" href="/Message/ComposeMessage">Mail At</a>
                                <div class="space-25"></div>
                                <h5>Klasörler</h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li>
                                        <a href="/Admin/Message/InBox">
                                            <i class="fa fa-inbox "></i> Gelen Kutusu
                                            @if (ViewBag.inboxNumber > 0)
                                            {
                                                <span class="label label-warning float-right">@ViewBag.inboxNumber</span>
                                            }
                                        </a>
                                    </li>
                                    <li><a href="/Admin/Message/SendBox"> <i class="fa fa-envelope-o"></i> Giden Kutusu</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="float-right tooltip-demo">
                        <a href="/Admin/Message/MarkAsRead/@ViewBag.id" class="btn btn-white btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="/Admin/Message/DeleteMessage/@ViewBag.id" class="btn btn-white btn-sm"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <h2>
                        Mesajı Gör
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <h3>
                            <span class="font-normal">Konu: </span> @ViewBag.subject
                        </h3>
                        <h5>
                            <span class="float-right font-normal">@ViewBag.date</span>
                            <span class="font-normal">Mesajı Gönderen: </span>@ViewBag.senderWriter
                        </h5>
                    </div>
                </div>
                <div class="mail-box">
                    <div class="mail-body">
                        <p>@ViewBag.details</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
