@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Add Blog</h1>
<br />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Category Title")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <br />
    @Html.Label("Category Description")
    @Html.TextAreaFor(x => x.CategoryDescription, 10, 3, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <br />

    <button class="btn btn-info">Create Category</button>
}
