@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Message Page</h1>

@Html.Label("#")
@Html.TextBoxFor(x => x.MessageID, new { @class = "form-control" })
<br />
<br />
@Html.Label("Gönderen Kişi")
@Html.TextBoxFor(x => x.SenderWriter.WriterName, new { @class = "form-control"})
<br />
<br />
@Html.Label("Gönderilen Kişi")
@Html.TextBoxFor(x => x.ReceiverWriter.WriterName, new { @class = "form-control"})
<br />
<br />
@Html.Label("Konu")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control"})
<br />
<br />
@Html.Label("Detaylar")
@Html.TextBoxFor(x => x.MessageDetails, new { @class = "form-control"})
<br />
<br />
@Html.Label("Tarih")
@Html.TextBoxFor(x => x.MessageDate, new { @class = "form-control"})
<br />
<br />

<a href="/Message/InBox" class="btn btn-behance">Mesajlara Geri Dön</a>

