
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="mail-tools tooltip-demo m-t-md">
                        <h3>
                            <span class="font-normal">Konu: </span> @ViewBag.subject
                        </h3>
                        <h5>
                            <span class="float-right font-normal">@ViewBag.date</span>
                            <span class="font-normal">Mesajı Gönderen: @ViewBag.name</span>
                            <br />
                            <br />
                            <span class="font-normal">@ViewBag.mail</span>
                        </h5>
                    </div>
                </div>
                <div class="mail-box">
                    <div class="mail-body">
                        <p>@ViewBag.message</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>

